.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

.App-main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  color: white;
  padding: 1em;
  text-align: center;
}

.Dice {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: dodgerblue;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  margin: 1rem;
}

.Die-Value {
  font-size: 80px;
}

.Dice-Roller {
  display: block;
  max-width: 300px;
  max-height: 100px;
  padding: (0.3em, 1.2em);
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255,255,255,0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  font-size: 40px;
  background-color: #9a4ef1;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
}

.Dice-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0em;
  padding: 0em;
}
